.me{
  width: 250px;
  border-radius: 50%;
}

nav{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding-left: 25px;
}

#pic{
  width: 250px;
}

head{
  background-color: #F1C40F;
  color: #F1C40F;
}

p{
  font-size: 16pt;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.albums{
  width: 250px;
}
