<!doctype html>
<html lang="en">
  <head class="head">
    <link rel="stylesheet" href="C:\Users\ajray\Documents\GitHub\ds-hw1-ajraymond27\Public\css\stylesheet.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>AJ Raymond</title>

  </head>

  <body>
      <h3 class="page_title">Comment Page</h3>
      <div id ="commentTable" class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>
          <tbody id="CommentTableBody" v-for="result in comment"
            :id="result.id"
            :comment="result.comment">
            <tr>
              <td scope="row">{{result.id}}</td>
              <td scope="row">{{result.comment}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>


      <form @submit.prevent="handleCommentForm">
        <div class="form-group">
          <label for="comment">Enter Comment:</label>
          <input type="text" class="form-control" id="comment" aria-describedby="entercomment" placeholder="Enter comment" v-model="commentForm.comment">
        </div>
        <button id="SubmitNewComment" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="js/commentApp.js"></script>

    </body>
</html>
